
h1 {
  color: #939190;
  float: right;
  margin-right: 20px;
}

h2 {
  text-align: left;
  margin-left: 20px;
  color: #3d84c7;
}
h3 {
  text-align: left;
  margin-left: 20px;
}

body {
  font-family: verdana;
}



.column {
  width: 350px;
  float: left;
  margin: 20px;
  background-color: #f8f8f8;
  border: solid #37351e;
  padding: 10px;
  font-size: 20px;
}

.logo {
  margin: 20px;
}
.design {
  float: left;
}
.intro {
  text-align: left;
  margin-left: 20px;
}

.final {
  color: #3d84c7;
  font-size: 22px;
  margin-left: 20px;
  float: right;
  background-color: #f8f8f8;
  border: solid #37351e;
  padding: 10px;
}

.before {
  color: red;
}

.during {
   color: orange;
 }

.after {
   color: green;
 }

 .highlight {
   font-weight: bold;
 }
